<div *ngIf="item">
    <h2 class="page-title">{{item.name}}'s Details</h2>
    <div class="container v-center">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="http://localhost:5000/get-image/{{item.image}}" alt="img" srcset="">
            </div>
            <div class="col-md-6">
                <h6>
                    <b>Name:</b> {{item.name}}
                </h6>
                <h6 class="description">
                    <b>Description:</b> {{item.description}}
                </h6>
                <h6>
                    <b>Price:</b> {{item.price | currency:'INR'}}
                </h6>
            </div>
        </div>
        <!-- button to redirect to the update component -->
        <button type="submit" (click)="navigateToEdit(item.id)" class="float-right btn btn-primary">Edit Details</button>
    </div>
</div>