.page-title {
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

img {
    width: auto;
    height: 200px;
    aspect-ratio: inherit;
}

button {
    margin-top: 10px;
}

.btn-danger {
    background-color: #B80C09;
    border-color: #B80C09;
    margin-right: 5px;
}

.error>small {
    color: red;
}

.custom-file-input {
    opacity: 1;
}

.btn-primary {
    background-color: #052F5F;
    border-color: #052F5F;
}

.btn-primary:hover {
    background-color: #005377;
    border-color: #005377;
}

.btn-primary:disabled {
    background-color: #06A77D;
    border-color: #06A77D;
}