<h2 class="page-title">Inventory</h2>

<!-- images grid from items-table -->
<app-items-table></app-items-table>

<!-- Modal to add items -->
<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="text-center">Add Items</h4>
    </div>

    <form [formGroup]="addItemForm" (submit)="save()">
        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" value="{{item.name}}" formControlName="name" pattern="[a-zA-Z ]*" placeholder="Item Name" maxlength="50" required>

                <!-- name validation -->
                <div *ngIf="addItemForm.get('name').invalid && addItemForm.get('name').touched" class="error">
                    <small *ngIf="addItemForm.get('name').errors.pattern"> Name not valid </small>
                    <small *ngIf="addItemForm.get('name').errors.required"> Name is required </small>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" #box (keyup)="0" value="{{item.description}}" formControlName="description" placeholder="Description" maxlength="200" required></textarea>
                <small *ngIf="box.value.length<200">The character count is {{box.value.length}}</small>

                <!-- description validation -->
                <div *ngIf="box.value.length>200 || (addItemForm.get('description').invalid && addItemForm.get('description').touched)" class="error">
                    <small *ngIf="box.value.length>200">The character count has reached max value of {{box.value.length}}</small>
                    <small *ngIf="addItemForm.get('description').errors.pattern"> Description not valid</small>
                    <small *ngIf="addItemForm.get('description').errors.required"> Description is required </small>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" #price type="number" value="{{item.price}}" formControlName="price" placeholder="Price" min=1 max=99999999 required>

                <!-- price validation -->
                <div *ngIf="price.value > 99999999 || (addItemForm.get('price').invalid && addItemForm.get('price').touched)" class="error">
                    <small *ngIf="price.value > 99999999">Price too high</small>
                    <small *ngIf="addItemForm.get('price').errors.required">Price is required</small>
                </div>
            </div>
            <div class="custom-file ">
                <input id="img" class="custom-file-input" type="file" accept=".jpg, .jpeg, .png" (change)="getImageFromView($event)" formControlName="image" required>

                <!-- file validation -->
                <div *ngIf="fileValidationErr!=true" class="error">
                    <small>{{ fileValidationErr }}</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button type="submit" [disabled]="addItemForm.invalid || fileValidationErr!=true" class="float-right btn btn-primary">Submit</button>
        </div>
    </form>
</ng-template>

<!-- floating action button -->
<button (click)="openVerticallyCentered(content)" class="float-button">
  <i class="fa fa-plus btn-margin"></i>
</button>