.page-title {
    text-align: center;
    padding-top: 50px;
}

.float-button {
    z-index: 1;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #005377;
    color: #FBFBFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    border: 0px;
}

.btn-margin {
    margin-top: 5px;
}

.error>small {
    color: #B80C09;
}

.custom-file-input {
    opacity: 1;
}

.btn-primary {
    background-color: #052F5F;
    border-color: #052F5F;
}

.btn-primary:hover {
    background-color: #005377;
    border-color: #005377;
}

.btn-primary:disabled {
    background-color: #06A77D;
    border-color: #06A77D;
}