<h3 class="title">Items Table</h3>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Action</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of listArr">
                <td scope="row">{{ list.id }}</td>
                <td>{{ list.title }}</td>
                <td>{{ list.author }}</td>
                <td>
                    <i (click)="removeItems(list.id)" class="fa fa-trash" aria-hidden="true"></i>
                </td>
                <td>
                    <a routerLink="/update/{{ list.id }}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>